In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import konlpy

In [2]:
import requests
import pandas as pd
import urllib.request as req
from bs4 import BeautifulSoup

In [3]:
news_df = pd.DataFrame(columns = ['news_text','category'])
news_df

Empty DataFrame
Columns: [news_text, category]
Index: []

In [5]:
cats=[731,732,229,226,227,283,230]
ind = 0
for cat in cats:   
    for i in range(30):
        
        url = 'https://news.naver.com/main/list.naver?mode=LS2D&sid2='+str(cat)+'&sid1=105&mid=shm&date=20220426&page='+str(i+1)
        headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
        news = requests.get(url, headers=headers)
        soup = BeautifulSoup(news.text,'html.parser')
        links = soup.select(' #main_content > div > ul> li > dl > dt > a')
        newslinks=[]
        for j, a in enumerate(links):            
            newslink = a.get('href')
            newslinks.append(newslink)
            newslinks = list(set(newslinks))        
        
        for link in newslinks:
            try:
                res2 = requests.get(link,headers = headers).text
                soup2 = BeautifulSoup(res2,'html.parser')
                news = soup2.find('div',id = "dic_area").text
                news = re.sub('\n','',news)
                news = re.sub('\t','',news)
                news_df.loc[ind] = [news,cat]
                ind += 1
            except Exception as e:
                pass
news_df

                                              news_text  category
0     모바일인덱스, 1~3월 국내 6개사 비교월 사용자수·사용시간 모두 1위 기록해[서울...       731
1     기사내용 요약국가과학기술자문회의 제20회 심의회의 개최제4차 남극 연구활동 진흥 기...       731
2     북미, 유럽, 아시아 주요 시장에 2분기부터 공급LG전자가 2022년 LG그램 노트...       731
3     유저 간 전투는 4107만 회 기록매주 일요일 9시 공성전 열릴 예정5월 4일 대규...       731
4     기사내용 요약영상콘텐츠 제작비 세액공제율 선진국의 1/10 불과올해 일몰 지원제도 ...       731
...                                                 ...       ...
1790  박스에 ‘내부, 개발 전용’ 적혀깜박 잊었나 일부러 두고 갔나아이폰4·5처럼 마케팅...       230
1791  코로나19로 법인택시 기사 20% 감소플랫폼 업계, '수락률 제고' 노력에도공급 부...       230
1792  삼성전자의 한정판 스마트폰 ‘갤럭시Z 플립3 포켓몬 에디션<사진>’이 출시 13시간...       230
1793  유튜브 ‘올블랑TV’ 캡처여주엽 ‘올블랑’ 대표사람들은 ‘운동할 시간이 없다’는 이...       230
1794  국내 정보통신기술(ICT) 업계가 윤석열 대통령 당선인에게 ‘과학기술수석비서관’ 설...       230

[1795 rows x 2 columns]

In [6]:
news_df.to_csv('news_dfs.csv',mode='w')

In [7]:
f_df4 = pd.read_csv('news_dfs.csv',index_col=0)
f_df4.shape

(1795, 2)

In [8]:
f_df4.head()

                                           news_text  category
0  모바일인덱스, 1~3월 국내 6개사 비교월 사용자수·사용시간 모두 1위 기록해[서울...       731
1  기사내용 요약국가과학기술자문회의 제20회 심의회의 개최제4차 남극 연구활동 진흥 기...       731
2  북미, 유럽, 아시아 주요 시장에 2분기부터 공급LG전자가 2022년 LG그램 노트...       731
3  유저 간 전투는 4107만 회 기록매주 일요일 9시 공성전 열릴 예정5월 4일 대규...       731
4  기사내용 요약영상콘텐츠 제작비 세액공제율 선진국의 1/10 불과올해 일몰 지원제도 ...       731