In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np
import konlpy

In [2]:
import requests
import pandas as pd
import urllib.request as req
from bs4 import BeautifulSoup

In [5]:
news_df = pd.DataFrame(columns = ['news_text','category'])
news_df

Empty DataFrame
Columns: [news_text, category]
Index: []

In [6]:
cats=[249,256,257]
ind = 0
for cat in cats:   
    for i in range(30):
        
        url = 'https://news.naver.com/main/list.naver?mode=LS2D&sid2='+str(cat)+'&sid1=102&mid=shm&date=20220426&page='+str(i+1)
        headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36'}
        news = requests.get(url, headers=headers)
        soup = BeautifulSoup(news.text,'html.parser')
        links = soup.select(' #main_content > div > ul> li > dl > dt > a')
        newslinks=[]
        for j, a in enumerate(links):            
            newslink = a.get('href')
            newslinks.append(newslink)
            newslinks = list(set(newslinks))        
        
        for link in newslinks:
            try:
                res2 = requests.get(link,headers = headers).text
                soup2 = BeautifulSoup(res2,'html.parser')
                news = soup2.find('div',id = "dic_area").text
                news = re.sub('\n','',news)
                news = re.sub('\t','',news)
                news_df.loc[ind] = [news,cat]
                ind += 1
            except Exception as e:
                pass
news_df

                                              news_text  category
0     국민일보DB과거 직장 동료였던 남성의 집에 여러 차례 무단 침입한 40대 여성이 경...       249
1     [천안=뉴시스] 이종익 기자 = 지난 13일 두쌍의 부부에게 흉기를 휘둘러 아내 2...       249
2     [경향신문] 이정수 서울중앙지검장이 26일 오전 서울 서초구 중앙지검에서 열린 검수...       249
3     천안 흉기 난동 피해자 지인, 국민청원 글"가해자 엄벌 및 신상공개 해달라"천안 부...       249
4     핵심요약서울의소리 이명수 기자 등에게 벌금형앞서 尹 서초구 아파트 주차장에 5차례 ...       249
...                                                 ...       ...
1792  법원 "모든 공소사실 인정돼 양형부당 주장 받아들일 수 없다"10여 년에 걸쳐 아동...       257
1793  서울시버스노동조합의 총파업이 철회된 26일 서울 성동구의 한 운수 업체에서 관계자가...       257
1794  전북 익산경찰서 마약 구입경로 조사 중마약에 취해 고속버스에 탄 20대가 경찰에 붙...       257
1795  과천시청 전경.(과천시 제공)© 뉴스1(과천=뉴스1) 유재규 기자 = 경기 과천시가...       257
1796  (수원=뉴스1) 김영운 기자 = 26일 오후 경기 수원 팔달구 수원시청 도시계획과 ...       257

[1797 rows x 2 columns]

In [7]:
news_df.to_csv('news_dfe.csv',mode='w')

In [10]:
f_df2 = pd.read_csv('news_dfe.csv',index_col=0)
f_df2.shape

(1797, 2)

In [11]:
f_df2.head()

                                           news_text  category
0  국민일보DB과거 직장 동료였던 남성의 집에 여러 차례 무단 침입한 40대 여성이 경...       249
1  [천안=뉴시스] 이종익 기자 = 지난 13일 두쌍의 부부에게 흉기를 휘둘러 아내 2...       249
2  [경향신문] 이정수 서울중앙지검장이 26일 오전 서울 서초구 중앙지검에서 열린 검수...       249
3  천안 흉기 난동 피해자 지인, 국민청원 글"가해자 엄벌 및 신상공개 해달라"천안 부...       249
4  핵심요약서울의소리 이명수 기자 등에게 벌금형앞서 尹 서초구 아파트 주차장에 5차례 ...       249